<section class="container">
	<div class="signup-wrap">
    	<h2>Dashboard</h2>
    	<ul class="dashboard clearfix">
    		<li><%= link_to 'ORDER MANAGEMENT', retailer_managements_orders_path %></li>
    		<li><a href="#">RETURNS<br><small>-coming soon</small></a></li>
    		<li><%= link_to 'MY PROFILE', retailer_managements_profiles_path %></li>
    		<li><a href="#">MY RATINGS<br><small>-coming soon-</small></a></li>
    	</ul>
    </div> 
</section>

