// Place all the styles related to the creator/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-box {
	width: 33%;
	height: 300px;
	float: left;
}