<section class="container">
	<div class="notification-wrap">
	<%= link_to 'View Marketplace by product', market_products_path %>
	</div>

	<div class="signup-wrap product-wrap product-lists product-mgmt">
    	<h2>MARKETPLACE BY PRODUCT</h2>
        <div class="marketplace">

        </div><!--marketplace ends-->
        <div class="market-store">
        	<ul>
        		<% @users.each do |store| %>
					<% if store.user_type == 'creator' %>
            <li><div class="cols">
                <div class="product-info">
                	<%= link_to market_store_path(store) do %>
                	<h2><%= image_tag store.logo %></h2>
                    <h3><%= store.company_name %></h3>
                    <% end %>
                </div><!--product-info ends-->
            </div><!--cols ends--></li>
            	<% end %>
            <% end %>
            </ul>
        </div><!--market-store ends-->
    </div><!--signup-box ends-->
</section>