<br /><br /><br />
<div class="col-xs-12 col-sm-offset-2 col-sm-8">
	<div class="dashboard-box booyah-box">
		<h3><%= link_to 'Product Management' dashboard_product_management_index_path %></h3>
	</div>

	<div class="dashboard-box booyah-box">
		<h3>Order 
			Tracking</h3>
	</div>
	<div class="dashboard-box booyah-box">
		<h3>PO Management</h3>
	</div>

	<div class="dashboard-box booyah-box">
		<h3>Past POs</h3>
	</div>

	<div class="dashboard-box booyah-box">
		<h3>My Rating</h3>
	</div>

	<div class="dashboard-box booyah-box">
		<h3>My Storefront</h3>
	</div>
</div>