<br /><br /><br />
<div class="col-sm-offset-2 col-sm-8">
	<div class="col-xs-12 col-sm-12 text-center">
		<h1>Dashboard</h1>
	</div>
	<br /><br />
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>Product Management</h1>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>Order Tracking</h1>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>PO Management and returns</h1>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>Past POs</h1>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>My Ratings</h1>
	</div>
	<div class="col-xs-12 col-sm-4 booyah-box dashboard-box text-center">
		<h1>My Storefront</h1>
	</div>
</div>