<section class="container">
	<div class="notification-wrap">
	<!-- <a href="#" class="notification">Notifications <span class="number">1</span></a> -->
	</div>
	<div class="signup-wrap">
    	<h2>Dashboard</h2>
		<ul class="dashboard clearfix">
        <li><%= link_to 'PRODUCT MANAGEMENT', creator_management_path %></li>
        <li><%= link_to 'ORDER MANAGEMENT', creator_management_orders_path %></li>
        <li><a href="#">RETURNS <br /><small>-coming soon-</small></a></li>
        <li><%= link_to 'MY PROFILE', creator_management_profile_path(current_user) %></li>
        <li>
        	<a href="#">MY RATINGS<br /> <small>-coming soon-</small></a>
        </li>
        <li><%= link_to 'MY STOREFRONT', market_store_path(current_user) %></li>
        </ul>
    </div><!--signup-box ends-->
</section>