<section class="container">
	<div class="signup-wrap">
    	<h2>SIGN UP</h2>
        <h3>What type of business are you?</h3>
    	<div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            	<%= link_to 'Retailer', new_buyer_registration_path, :class => 'btn btn-blue' %>
                <p>You are a small business
looking to research, find, and
purchase amazing products at
wholesale prices.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            	<%= link_to 'Creator', new_user_registration_path, :class => 'btn btn-blue' %>
                <p>You are a small brand,
designer, or manufacturer
looking to sell and manage
your best products to retailers.</p>
            </div>
        </div>
    </div><!--signup-wrap ends-->
</section>