<div class="col-xs-12">
	<h1 class="text-center">What type of account are you looking for?</h1>
</div>
<br /><br /><br />
<div class="col-xs-12 col-sm-6">
	<h2 class="text-center">Retailer</h2>
	<br /><br />
	<p>You are a small business looking to purchase amazing wholesale goods at amazing prices!</p>
	<div class="text-center">
		<%= link_to 'Retailer Registration', new_buyer_registration_path, :class => 'btn btn-primary' %>
	</div>
</div>
<div class="col-xs-12 col-sm-6">
	<h2 class="text-center">Creator</h2>
	<br /><br />
	<p>You are a small brand manufacturing awesome products looking for wholesale distribution. </p>
	<div class="text-center">
		<%= link_to 'Creator Registration', new_user_registration_path, :class => 'btn btn-primary' %>
	</div>
</div>