<br /><br /><br />
<h1 class="text-center">Product Management</h1>
<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	<% current_user.products.each do |product| %>
		<div class="booyah-box">
			<%= product.name %>
		</div>
	<% end %>
</div>