<br /><br /><br />
<div class="col-xs-12 col-sm-offset-1 col-sm-10 booyah-box">
	<h2>Order Management</h2>
	<h4>Orders:</h4>
	<% @orders.each do |order| %>
		<% if order.creator_id == current_user.id %>
			<div class="col-xs-12 booyah-box">
				<div class="col-xs-12 col-sm-4">
					<%= order.id %>
				</div>
				<div class="col-xs-12 col-sm-4">
					<% order.order_items.each do |item| %>
						<%= item.sku_id %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>