<br /><br /><br />
<div class="col-xs-12 col-sm-offset-2 col-sm-8">	
	<div class="col-xs-12">
		<div class="col-xs-8">
			<h4>Product Name</h4>
		</div>
		<div class="col-xs-1">
			<h4>Qty</h4>
		</div>
		<div class="col-xs-3 text-right">
			<h4>Total Price per Unit</h4>
		</div>
	</div>
</div>

<div class="shopping cart col-xs-12 col-sm-offset-2 col-sm-8">
	<%= render "shopping_cart" %>

	<h4>Buy from ShopKetti's Creators for <%= number_to_currency(current_order.subtotal, :unit => "$") %>
		<div class="pull-right">
			<%= link_to "Order", "/carts/buy/#{current_order.id}", :class => 'btn btn-danger btn-large', :id => 'buy-now-button' %>
		</div>
	</h4>
	<div class="pull-left">
		<%= link_to "â† back to marketplace ", market_stores_path %>
	</div>

	<br /><br /><br />
</div>
