// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-logo {
	padding-top: -5px;
	padding-right: 10px;
}
.clear {
	clear: both;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	border: 0;
}
.navbar .nav > li {
	color: black;
}

.navbar .nav > li > a {
	color: white;
}

.home-body-bg-1 {
	max-height: 550px;
	width: 100%;
}

.caption {
	position: absolute;
	margin-top: 15%;
	color: white;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	left: 0;
	padding: 25px;
	text-align: center;
}

.home-body-bg-2 {
	max-height: 550px;
	width: 100%;
	background-color: #27A9E1;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.home-body-bg-3 {
	max-height: 550px;
	width: 100%;
}

.ketti-flow{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	position: absolute;
	padding-bottom: 5%;

}
.ketti-flow h2 {
	color: #27A9E1;
	text-align: center;
}

.ketti-flow h3{
	color: #27A9E1;
	text-align: center;
}