// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$raleway: 'Raleway', sans-serif;


.header-logo {
	padding-top: 10px;
	padding-right: 10px;
	width: 150px;
}
.clear {
	clear: both;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.7);
	border: 0;
}
.navbar .nav > li {
	color: white;
	font-family: $raleway;
}

.navbar .nav > li > a {
	color: white;
}

.navbar .nav > li > a:hover {
	color: #29AAE2;
}

.home-body-bg-1 {
	max-height: 400px;
	width: 100%;
}

.caption {
	margin-top: 15%;
	color: white;
	background-color: #29AAE2;
	width: 100%;
	font-family: $raleway;
	padding-top: 25px;
	padding-bottom: 100px;
}

.caption-overlay {
	color: white;
	font-family: $raleway;
	border: 1px solid white;
	margin-top: -300px;
	background-color:rgba(0,0,0,0.5);
	padding: 10px 5px 10px 5px;
}

.caption-white {
	color: #29AAE2;
	padding: 35px 5px 50px 5px;
	font-family: $raleway;
}

.blue-bar {
	background: #29AAE2;
	width: 100%;
	height: 100px;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.marketplace-product {
	width: 25%;
	float: left;
	height: 400px;
	margin: 0;
	padding: 5px;
}

.home-email-signup {
	background-color: #29AAE2;
}

body {
	padding-top: 100px;
}

.home-solid-blue{
	background: #29AAE2;
	margin-top: -100px;
}
