<div class="nested-fields">
	<%= f.file_field :image %>
	<%= f.input :featured, label: 'Featured Pictue?', as: :boolean, type: :check_boxes, required: true %>
	<%= link_to_remove_association "remove image", f %>
</div>