<div class="homepage-body-1">
	<h1 class="caption" >Welcome to Shop Ketti</h1>
	<%= image_tag 'photo1.jpeg', :class => 'img-responsive home-body-bg-1' %>
</div>
<div class="homepage-body-2">
	<h1 class="caption">Ketti Connects Small Business Retailers and Creators All Over The Country</h1>
	<%= image_tag 'us_outline_colored.jpg', :class => 'img-responsive home-body-bg-1' %>
</div>
