<div>
	<h2 class="caption" >Shop Ketti is the first B2B marketplace specifically for small creators and retailers.</h2>
	<%= image_tag 'Store_Front.jpg', :class => 'img-responsive home-body-bg-1' %>
</div>
<div>
	<h2 class="caption">Ketti Connects Small Business Retailers and Creators All Over The Country</h2>
	<%= image_tag 'us_outline_color.gif', :class => 'img-responsive home-body-bg-1' %>
</div>
<div>
	<div class="ketti-flow">
		<h2>Ketti is simple to use</h2>
	</div>
	<%= image_tag 'photo1.jpeg', :class => 'img-responsive home-body-bg-3' %>
</div>
